<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
</head>
<body class="bg-light ">
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-6" style="margin-top: 200px;margin-left: 250px;">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Forgot Password</h2>
                        {% for message in messages %}
                        <div class="alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                               {{ message }}
                        </div>
                        {% endfor %}
                        <form method="post" action="{% url 'ForgotPassword' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" id="email" name="email" class="form-control" style="border-bottom: 1px solid #ccc;" placeholder="Enter your registered email" onfocus="removePlaceholder()" required>
                                <script>
                                    function removePlaceholder() {
                                        document.getElementById('email').removeAttribute('placeholder');
                                    }
                                    </script>
                            </div>
                            <button type="submit" class="btn btn-primary">Send OTP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
