{% extends 'users/layout/base.html' %}
{% load static %}

{% block body %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap"> 
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{ data.image.url }}" style="max-width: 400px;min-width:400px ; max-height:400px ;min-height:400px; border-bottom-left-radius:8px ;border-bottom-right-radius: 8px;"></a>
                        </div>
                        <!-- img-big-wrap.// -->
                    </article>
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">
                        <h2 class="title">{{ data.name }}</h2>
                        <h3 class="title">Founder: {{ data.founder_name }}</h3>
                        <h3 class="title">Category: {{ data.category }}</h3>
                        <h3 class="title">Remaing amount: {{ data.amount }}</h3>
                        <p>{{ data.description }}</p>
                        <hr>
                        <div class="row">
                            {% if zero_error or no_money_error or money_limit_error %}
                                <div class="alert alert-danger" role="alert">
                                    {{ zero_error }}{{ no_money_error }}{{ money_limit_error }}
                                </div>
                            {% endif %}
                            {% if success %}
                                <div class="alert alert-success" role="alert">
                                    {{ success }}
                                </div>
                            {% endif %}
                            <div class="item-option-select">
                                <h6>Donate</h6>
                                <form action="{% url "charity_cmplt" data.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <input type="number" class="form-control" name="amount" placeholder="Add amount">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">Donate Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                        </div> <!-- row.// -->
                        <hr>
                    </article> 
                </main>
            </div> 
        </div>
    </div>
</section>

{% endblock %}
