{% extends 'users/layout/base.html' %}
{% load static %}
{% block body %}
<div class="page-heading-camp text-center">
	<div class="container zoomIn animated">
		<h1 class="page-title">OUR CAUSES <span class="title-under"></span></h1>
		<p class="page-description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.
		</p>		
	</div>
</div>
<div class="main-container" style="background-color:#F0F9FF;">
	<div class="our-causes fadeIn animated">
	    <div class="container">
	        <h2 class="title-style-1"> Our Campaigns <span class="title-under"></span></h2>
			<div class="sidebar col-lg-2">
				<div class="sidebar-wrap">
					<div class="sidebar-br-widget">
						<h4 class="sidebar-title">Categories</h4>
						<div class="sidebar-widget-category">
							<ul class="list-unstyled">
								<li><a href="/list_campaign/" class="selected m-0">All</a></li>
								{% for cat in categories %}
								<li><a href="/list_campaign/?categories={{cat.id}}">{{cat.name}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
	        <div class="row col-lg-10">
	  			{% for data in data %}
				<div class="col-md-4 col-sm-6">
	                <div class="cause">
	                    <img src="{{ data.image.url }}" alt="" class="cause-img" style="width: 100%;
						height: 200px; /* Set your desired fixed height */
						object-fit: cover">
	                   
	                    <h4 class="cause-title"><a href="#">{{ data.name }} </a></h4>
	                    <div class="cause-details" style="text-align: justify;
						                                  padding: 0 15px;
						                                  font-size: 13px;
						                                  margin-bottom: 15px;
						                                  max-height: 100px; /* Set a maximum height for the description */
														  min-height: 100px;
						                                  overflow: hidden; /* Hide the content that exceeds the maximum height */
						                                  word-wrap: break-word;"
						>
	                        {{ data.description }}
	                    </div>
						<h4 class="cause-title"><a href="#">Category:{{ data.category.name }} </a></h4>
						<h4 class="cause-title"><a href="#">End date:{{ data.end_date }} </a></h4>
						<h4 class="cause-title"><a href="#">Remaining amount:{{ data.amount }} </a></h4>
	                    <div class="btn-holder text-center">
	                       <a href="{% url "donate_campaign" data.id %}" class="btn btn-primary" > DONATE NOW</a>
						</div>
	                </div> <!-- /.cause -->
	            </div> 
				{% endfor %}
            </div> <!-- /.our-causes -->
        </div> <!-- /.main-container  -->
{% endblock  %}