{% extends 'users/layout/base.html' %}
{% load static %}
{% block body %}
<div class="row justify-content-center min-vh-100" style="margin-left: 500px;margin-bottom: 100px;">
    <div class="col-md-12 d-flex flex-column align-items-center mt-auto">
        <div class="col-md-6">
            <div class="card text-dark shadow rounded p-4">
                <div class="card-body">
                    <div>
                        <h1 class="text-info" style="margin-left: 100px;font-weight: bold;">Sign up</h1>
                        {% if msg %}
                            <div class="alert alert-success" role="alert">
                                Data saved successfully!
                            </div>
                        {% endif %}
                        {% load widget_tweaks %}
                        <form action="{% url 'user_signup' %}" method="POST" class="d-flex flex-column align-items-center">
                            {% csrf_token %}
                            {% for field in form %}
    <div class="mb-3 text-start" style="width: 100%;">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field | add_class:"form-control" | attr:"style: width: 300px;" }}
        {% for error in field.errors %}
            <div class="text-danger" style="font-size: 13px;width: 300px;">{{ error}}</div>
        {% endfor %}
    </div>
{% endfor %}
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
